.App {
  text-align: center;
  width: 100%;
}
.pokemonCardContainer {
  box-sizing: border-box;
  padding: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
  gap: 20px;
}

.waitTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: #fff;
  font-size: 30px;
}

.btn {
  padding: 30px 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.btn button {
  padding: 13px 32px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 6px 20px -11px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.btn button:hover{
  transform: translateY(3px);
  box-shadow: none;
}
.btn button[disabled] {
  cursor:default;
}
.btn button[disabled]:hover {
  transform: translateY(0);
  box-shadow: 2px 6px 20px -11px rgba(0, 0, 0, 0.8);
}
@media only screen and (max-width : 1400px) {
  .pokemonCardContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (max-width : 1000px) {
  .pokemonCardContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width : 900px) {
  .pokemonCardContainer {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width : 600px) {
  .pokemonCardContainer {
    grid-template-columns: 1fr;
  }
}